@using System.Security.Claims
@model ArticlesWeb.Entities.DbEntities.User
@inject ArticlesWeb.Business.Abstract.IPostService PostService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = "_Layout2";

    int userId = Model.UserId;

    var posts = PostService.GetPostsByUserId(userId);


    bool isSelfPage = false;

    if (User.Identity.IsAuthenticated)
    {
        int currentUserId = int.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid).Value);
        isSelfPage = currentUserId == userId;
    }

}


<div>
    <div class="row">
        <div class="col-md-9">
            <h1 style="color: orangered">@localizer["PersonalInformation"]</h1>
        </div>
        <div class="col-md-3">
            @{
                if (isSelfPage)
                {
                    <div style="font-size: 30px;">
                        <a style="color: red" asp-controller="Home" asp-action="EditProfile">@localizer["EditProfile"]</a>
                    </div>
                }
            }
        </div>
    </div>
    <hr/>
    <p>@localizer["Username"] : @Model.Username</p>
    <p>@localizer["Email"] : @Model.Email</p>
    <p>@localizer["Birthday"] : @Model.Birthday</p>
    <p>@localizer["RegistrationDate"]: @Model.RegistrationDate</p>
    <br />
    
    <br />
    @{
        if (!String.IsNullOrEmpty(Model.About))
        {
            <h2 style="color: orangered">@localizer["Biography"]</h2>
            <hr/>
            <p>@Model.About</p>
            <br/>
        }
    }
</div>

<div>
    <h2 style="color: orangered">@localizer["UsersArticles"]</h2>
    @{
        if (posts.Data.Count == 0)
        {
            <hr />
            <div class="alert alert-info">
                <h2>@localizer["UserDoesntHaveArticle"]</h2>
            </div>
        }
        else
        {
            foreach (var post in posts.Data)
            {
                <hr>
                <div class="post-preview">
                    <a href="/Posts/Details/@post.PostId">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                    </a>
                    <h3 class="post-subtitle">
                        @if (post.Text.Length > 200)
                        {
                            @post.Text.Substring(0, 200)
                        <a href="/Posts/Details/@post.PostId" class="devamini-oku">@localizer["ReadMore"]</a>
                        }
                        else
                        {
                            @post.Text;
                        }
                    </h3>
                    <p class="post-meta">
                        Posted by
                        <a href="/Users/Details/@post.UserId">@post.User.Username</a>
                        on @post.CreatedAt.ToShortDateString()
                    </p>
                    <p class="post-meta">@post.CommentCount @localizer["Comment"]</p>
                </div>
            }
        }
    }
</div>

