@model UserViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = "_Layout2";
    var bd = Model.BirthDate ?? DateTimeOffset.Now;

    string message = null;

    if (TempData.ContainsKey("UpdateError"))
    {
        message = TempData["UpdateError"] as string;
    }

}

<!-- Icons font CSS-->
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="~/css/main.css" rel="stylesheet" media="all">

@{
    if (!String.IsNullOrEmpty(message))
    {
        <div class="alert alert-danger" role="alert">
            @message
        </div>
    }
}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">@localizer["UpdateProfile"]</h2>
                <form asp-controller="Home" asp-action="EditProfile" method="POST">
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">@localizer["Username"]</label>
                                <input class="input--style-4" type="text" value="@Model.UserName" name="Username">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">@localizer["Password"]</label>
                                @* TODO password handling *@
                                <input class="input--style-4" type="password" @* value="@Model.Password" *@ name="Password">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">@localizer["Birthday"]</label>
                                <div class="input-group-icon">
                                    <input class="input--style-4 js-datepicker" value="@bd.ToString()" type="text" name="Birthday">
                                    @*<i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">@localizer["Fullname"]</label>
                                <input class="input--style-4" value="@Model.FullName" type="text" name="Fullname">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">@localizer["Email"]</label>
                                <input class="input--style-4" value="@Model.Email" type="email" name="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">@localizer["Biography"]</label>
                                <input class="input--style-4" value="@Model.About" type="text" name="About">
                            </div>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">@localizer["SaveChanges"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Vendor JS-->
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/datepicker/moment.min.js"></script>
<script src="~/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="~/js/global.js"></script>