@using System.Security.Claims
@model List<ArticlesWeb.Entities.DbEntities.Post>
@{
    
    ViewData["Title"] = "Home Page";

}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @{
            if (Model.Count == 0)
            {
                <div class="alert alert-info">
                    <h2>Henüz bir makale yok :( </h2>
                </div>
            }
            else
            {
                foreach (var post in Model)
                {
                    <hr>
                    <div class="post-preview">
                        <a href="/Posts/Details/@post.PostId">
                            <h2 class="post-title">
                                @post.Title
                            </h2>
                        </a>
                        <h3 class="post-subtitle">
                            @if (post.Text.Length > 200)
                            {
                                @post.Text.Substring(0, 200)
                                <a href="/Posts/Details/@post.PostId" class="devamini-oku">Devamını Oku</a>
                            }
                            else
                            {
                                @post.Text
                            }
                        </h3>
                        <p class="post-meta">
                            Posted by
                            <a href="/Users/Details/@post.UserId">@post.User.Username</a>
                            on @post.CreatedAt.ToShortDateString()
                        </p>
                        <p class="post-meta">@post.CommentCount Yorum</p>
                    </div>
                }
            }
        }
    </div>
    </div>
