@model ArticlesWeb.Entities.RequestModels.UserRegisterModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = "_Layout2";

    string error = null;

    if (TempData.ContainsKey("RegisterError"))
    {
        error = TempData["RegisterError"] as string;
    }
}

@{
    if (!String.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger" role="alert">
            @error
        </div>
    }
}
<form method="post" asp-controller="Home" asp-action="Register">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>@localizer["Username"]</label>
        <input asp-for="Username" type="text" class="form-control" name="Username" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label>@localizer["Password"]</label>
        <input asp-for="Password" type="password" class="form-control" name="Password">
    </div>
    <div class="form-group">
        <label>@localizer["Fullname"]</label>
        <input asp-for="Fullname" type="text" class="form-control" name="Fullname">
    </div>
    <div class="form-group">
        <label>@localizer["Email"]</label>
        <input asp-for="Email" type="email" class="form-control" name="Email">
    </div>
    <div class="form-group">
        <label>@localizer["Birthday"]</label>
        <input asp-for="BirthDate" type="date" class="form-control" name="BirthDate">
    </div>
    <div class="form-group">
        <label>@localizer["Biography"]</label>
        <input asp-for="About" type="text" class="form-control" name="About">
    </div>

    <button type="submit" class="btn btn-primary">@localizer["Submit"]</button>

</form>